#menu {
    background: linear-gradient(135deg, #714fff, #d522bf);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    top: 20px;
    z-index: 10;
    box-shadow: 0px 0px 1px 1px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#menu span {
    display: block;
    width: 25px;
    height: 4px;
    background-color: pink;
    border-radius: 2px;
    margin: 0 0 0 1px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#menu.open span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

#menu.open span:nth-child(2) {
  opacity: 0;
}

#menu.open span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

#menuScreen {
  position: fixed;
  z-index: 9;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(
    to right,
    rgba(5, 5, 5, 0.6) 0%,
    rgba(5, 5, 5, 0.7) 5%,
    rgba(5, 5, 5, 0.8) 18%,
    rgba(5, 5, 5, 0.8) 82%,
    rgba(5, 5, 5, 0.7) 95%,
    rgba(5, 5, 5, 0.6) 100%
  );
  overflow: auto;
}

body.no-scroll {
  overflow: hidden;
}

#menuLinks {
  width: 920px;
  height: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.menuLink {
  width: 100%;
  height: 60px;
  padding: 0 0 0 35px;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 5px solid var(--Orange-color);
  border-radius: 0 0 0 50px;
}

@media only screen and (max-width: 1024px) {
    #menuLinks {
        max-width: 94%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}
