#projectsButton {
    max-width: 1400px;
    text-align: center;
    margin: 10px 0 0 0;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--Red-color);
}

#projectsColumn {
    width: 920px;
    display: flex;
    max-width: 1400px;
    position: relative;
    align-items: center;
    flex-direction: column;
}

.projectsRow {
    width: 100%;
    display: flex;
    color: white;
    padding-top: 10px;
    max-width: 1400px;
    position: relative;
    align-items: center;
    flex-direction: row;
    padding-bottom: 10px;
    justify-content: space-between;
    border-bottom: 1px solid var(--Red-color);
}

.projectInfo {
    max-width: 680px;
    padding-left: 2px;
    word-break: break-word;
}

.projImages {
    margin-left: 5px;
    max-width: 240px;
    max-height: 200px;
    padding-right: 2px;
}

.projTitle {
    font-size: 30px;
    padding: 0 0 20px 0;
    text-decoration: underline;
}

.projDescription {
    font-size: 25px;
}

@media only screen and (max-width: 1024px) {
    #projectsButton {
        max-width: 94%;
    }
    #projectsColumn {
        max-width: 94%;
    }
}

@media only screen and (max-width: 767px) {
    .projTitle {
        font-size: 20px;
    }
    .projImages {
        max-width: 200px;
        max-height: 160px;
    }
    .projDescription {
        font-size: 14px;
    }
}

@media only screen and (max-width: 280px) {
    .projTitle {
        font-size: 15px;
    }
    .projDescription {
        font-size: 12px;
    }
    .projImages {
        max-width: 150px;
        max-height: 110px;
    }
}

@keyframes borderAnimation {
    0% {
      border-color: var(--Red-color);
    }
    50% {
      border-color: var(--Purple-color);
    }
    100% {
        border-color: var(--Red-color);
    }
}
