#title {
    width: 100%;
    color: var(--Black-color);
    font-size: 40px;
    text-align: center;
    padding: calc(5px + env(safe-area-inset-top)) 0 5px 0;
    background-color: var(--Blue-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title h1,
#title h2 {
    text-shadow: 1px 1px 4px white;
    max-width: 95%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.titleEffect {
    width: 100%;
    height: 120px;
    margin: -2px 0 5px 0;
    background-image: linear-gradient(var(--Blue-color), var(--Black-color) 95%);
}